


body{
    margin: 0;
    background-color:#d8d2ea ;
    
    
}
.card{
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #9e90ca 0px 0px 15px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.photo{
    width: 50%;
    height: 100%;
    background-image: url(Artboard.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    background-position: center;
}
.text{
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    background-color: #7367af;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    position: relative;
}
h1{
   
    text-align: center;
}
input{
    display: block;
    margin-left: 50px;
    width: 400px;
    height: 50px;
    border-radius: 30px;
    border: none;
    margin-top: 15px;
    padding-left: 60px;
    font-size: 18px;
    outline: 0px;
    border: 0px;
    cursor: pointer;
}

input[type=password]::-ms-reveal, 
input[type=password]::-ms-clear 
{ 
    display: none; 
}

#submit{
    width:400px;
    text-align: center;
    padding: 0;
    font-size: 22px;
    margin-top: 80px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #4d4288;
    color: white;
    transition: 0.5s;
}
#submit:hover{
    background-color: #473e7a;
    transform: scale(1.03);
}

.first{
    display: flex;
    position: relative;
}
 .img{
    position: absolute;
    left: 68px;
    bottom: 10px;
} 
.forget{
    color: rgb(202, 0, 0);
    text-decoration: none;
    position: absolute;
    right: 50px;
    top: 370px;
    font-size: 13px;
}
.eye{
  position: absolute;
  right: 80px;
  margin-top: 25px;
  cursor: pointer;
  
}

.eye2{
 position: absolute;
  right: 80px;
  margin-top: 26px;
  cursor: pointer;
  display: none;

} 
.person{
    margin-left: 200px;
    margin-top: 50px;

    
}
@media(max-width: 1120px) { 
 
    input{ 
        width: 390px; 
    } 
}  
@media(max-width:988px) { 
 
    input{ 
        width: 365px; 
    } 
    #submit{ 
        width: 370px; 
    } 
    .card{
        width: 900px;
    }
    .eye{
        position: absolute;
        right: 70px;
     
        
      }
      
      .eye2{
       position: absolute;
        right: 70px;
      
      
      } 

}  

@media(max-width:620px) { 
    .photo{ 
        display: none; 
    } 
    .card{ 
        width: 80%; 
    } 
    .text{ 
        width: 100%; 
        border-radius: 10px; 
    } 
    input{
        width: 400px;
    }
    #submit{
        width: 400px;
    }
    .eye{
        position: absolute;
        right: 80px;
     
        
      }
      
      .eye2{
       position: absolute;
        right: 80px;
      
      
      } 
 
 
 
}
@media(max-width:500px){
    input{
        width: 310px;
    }
    #submit{
        width: 310px;
    }
    .person{
        position: relative;
        right: 40px;
    }
    .eye{
        position: absolute;
        right: 70px;
     
        
      }
      
      .eye2{
       position: absolute;
        right: 70px;
      
      
      } 
}


























